// var inp=[3, 23, 5, 2, 2, 5, 7, 2, 6, 8, 8, 2, 3]
//     const num_array=inp.map(String)
//     const master = []
//     const unique = new Set(num_array)
//     unique.forEach(u=>{
//         master.push(num_array.filter(e=>e===u))
//     })




<script >
    let countaobj = {}
    let arr = [3, 23, 5, 2, 2, 5, 7, 2, 6, 8, 8, 2, 3]
    let countfunc=(keys)=>{
        countaobj[keys]=++countaobj[keys] || 1

    }

    arr.forEach(countfunc=)
</script> 



for (var i = 0; i < cart_result.length; i++) {
    var cart_item = await item.findById(cart_result[i].id);
    let dup = info.includes(cart_result[i])
    try {
        if(dup==false){
            info.push(cart_item)
        }
    } catch (err) {console.log("Error:", err);}
}
















<%console.log(stats_master)%>
<% var i=0%>

<% infoq.forEach(elem => { %>

<%-
include('partials/cart_item.ejs',{
img:elem.image_url,
name:elem.name,
price:elem.price,
total:"total",
cat:elem.primary,
id:elem.id,
num:stats_master[0].count
})%>

<% }) %>






	  <!-- <% }) %> -->
