<div class="container">
    <p>
        item added to cart
    </p>
    <div class="sep"></div>
    <div class="tick">
        <img src="gem.svg" >
    </div>
</div>


<style>
    .container{
        position: absolute;
        padding: 1vh 2vh 1vh 2vh;
        height: 3vh;
        width: 10vw;
        outline: 1px solid green;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 1vh;
        font-family: cursive;
        color: #000;
    }
    .sep{
        width: 1vw;
    }
    p{
        color: black;
    }
</style>
<div class="cont">
      

</div>
<style>
  .cont{
    height: 3vh;
    width: 11vw;
    background-color: black;
    position: fixed;
    left:43%;
    z-index: 200;
  }
</style>