<div class="itemCard">
    <div class="imageDetails">
        <div class="cartImage">
            <a href=""><img src="images/product.jpg"></a>
        </div>
        <div class="cartDetails">
            <p class="productName">Fifa 19</p>
            <a href=""><p class="productCategory">Gaming</p></a>
            <a href=""><p class="remove">Remove</p></a>

        </div>
        
    </div>
    <div class="rightDetails">
        <div class="quantity">
            <a href=""><span class="sub">-</span></a>
            <span class="sub">1</span>
            <a href=""><span class="sub">+</span></a>
        </div>
        <div class="price">
            <p>10</p>
        </div>
        <div class="total">
            <p>109</p>
        </div>
        
    </div>
</div>