<div class="summary">
    <div class="heading">
        <p>Order Summary</p>
    </div>
    <div class="line2"></div>

    <div class="major">
        <div class="summaryDetails">
            <p class="itn">Items 3</p>
            <p class="itp">$<%=total %></p>
        </div>
        <div class="shipping">
            <p>Shipping</p>
            <select>
                <option>Stardand Delivery $10</option>
                <option>Fast Delivery $15</option>
                <option>Instant Delivery $25</option>
            </select>
        </div>
        <div class="promo">
            <label>Coupon Code</label>
            <form>
                <input type="text" name="promocode" placeholder="Enter your Code">
                <button type="submit" class="applyPromo">APPLY</button>
            </form>
        </div>
        <div class="line2"></div>
        <div class="totals">
            <div class="totalCost">
                <p class="itn itn2">TOTAL</p>
                <p class="itp">$<%=total+10 %></p>
            </div>
            <div class="checkout">
                <a href="stkpush?">
                    <button class="checkoutBtn">CHECKOUT</button>
                </a>
            </div>
        </div>
    </div>

        
    
</div>