<div id="cls">


  <nav class="navbar">
    <div id="searchBar" class="searchBar">
      <form>
        <input type="text" name="search" placeholder="Search...">
      </form>
    </div>
    <div class="logo">
      <span>COZA </span>STORE

    </div>
    <div class="navLinks">
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="#">
          <li>Orders</li>
        </a>
        <a href="#">
          <li>Quick sale</li>
        </a>
        <a href="#">
          <li>Kids</li>
        </a>
        <a href="#">
          <li>Men</li>
        </a>
        <a href="#">
          <li>Contacts</li>
        </a>
      </ul>

    </div>
    <div class="navAccesories">
      <ul>
        <a id="searchBtn" href="#">
          <li>
            <img src="images/icons/search.svg">
          </li>
        </a>
        <a href="cart" disabled>
          <li>
            <img src="images/icons/cart.svg">
            <span id="cartnum" class="cartList"><%=9 %></span>
          </li>
        </a>
        <a href="#">
          <li>
            <img src="images/icons/heart.svg">
            <span class="loveList">0</span>

          </li>
        </a>
        <a id="searchBtn" href="useraccount" disabled>
          <li>
            <img src="images/icons/person.svg">
          </li>
        </a>
      </ul>

    </div>
  </nav>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</div>