<!-- https://dribbble.com/shots/18671016-Cybersport-Betting-App -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css">
    <title>Document</title>
</head>

<body>
    <section class="parent">
        <div class="leftChild">
            <ul>
                <a href="">
                    <li>
                        <img src="icons/house.svg" alt="">
                        <span>Dashboard</span>
                        <img style="margin-left: 2vw;" class="right" src="icons/right.svg" alt="">
                    </li>
                </a>
                <a href="">
                    <li>
                        <img src="icons/pie-chart.svg" alt="">
                        <span>Charts</span>
                        <imgd style="margin-left: 2vw;" class="right" src="icons/right.svg" alt="">
                    </li>
                </a>
                <a href="">
                    <li>
                        <img src="icons/table.svg" alt="">
                        <span>Tables</span>
                        <img style="margin-left: 2vw;" class="right" src="icons/right.svg" alt="">
                    </li>
                </a>
                <a href="">
                    <li>
                        <img src="icons/person.svg" alt="">
                        <span>Customers</span>
                        <img class="right" src="icons/right.svg" alt="">
                    </li>
                </a>
                <a href="">
                    <li>
                        <img src="icons/person.svg" alt="">
                        <span>Orders</span>
                        <img class="right" src="icons/right.svg" alt="">
                    </li>
                </a>
                <a href="">

                    <button class="logout"><img class="logoutImg" src="icons/logout.svg"
                            alt=""><span>Logout</span></button>

                </a>

            </ul>

        </div>
        <div class="rightChild">
            <div class="weekly">
                <div class="wsales">
                    <div class="titleIcon">
                        <p>Total Weekly sales</p>
                        <img src="icons/graph-down-arrow.svg" alt="">
                    </div>
                    <div class="value v1">
                        <p>$15000</p>
                    </div>
                    <div class="incdec">
                        <p>Decreased by 60%</p>
                    </div>

                </div>
                <div class="wsales">
                    <div class="titleIcon">
                        <p>Weekly Online Sales</p>
                        <img src="icons/graph-up-arrow.svg" alt="">
                    </div>
                    <div class="value">
                        <p>$15000</p>
                    </div>
                    <div class="incdec">
                        <p>Decreased by 60%</p>
                    </div>

                </div>
                <div class="worders">
                    <div class="titleIcon">
                        <p>Weekly Ofine Orders</p>
                        <img src="icons/wifi-off.svg" alt="">
                    </div>
                    <div class="value">
                        <p>$15000</p>
                    </div>
                    <div class="incdec">
                        <p>Decreased by 60%</p>
                    </div>

                </div>
                <div class="wonline">
                    <div class="titleIcon">
                        <p>Weekly Online Visits </p>
                        <img src="icons/gem.svg" alt="">
                    </div>
                    <div class="value">
                        <p>150</p>
                    </div>
                    <div class="incdec">
                        <p>Decreased by 60%</p>
                    </div>
                </div>
            </div>

            <div class="graphs">
                <canvas class="graph1" id="canvas"></canvas>
            </div>
            <div class="graphs gy">
                <canvas class="graph2" id="canvass"></canvas>
            </div>
            <div class="graphs">
                <canvas class="graphy" id="canvasss"></canvas>
            </div>



        </div>
    </section>
</body>
<script src="js/admin.js" defer></script>
<script src="js/chart.min.js"></script>

</html>

<!-- https://www.bootstrapdash.com/wp-content/uploads/2017/10/dash-19.jpg -->
<!-- https://www.bootstrapdash.com/wp-content/uploads/2017/10/52a9ba59-26ae-4fb6-adf1-4c3580ba739b.png -->
<!-- https://www.bootstrapdash.com/wp-content/uploads/2020/03/purple.png -->
