<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/cart.css">
	<title>Cart</title>
</head>
<body>

	<section class="main">
			<div class="mainSection">
				<div class="heading">
					<p> Shopping Cart</p>
				</div>
				<div class="line"></div>
				<div class="cartHeading">
					<div class="ProductDetails">
						<p>Product details</p>
					</div>
					<div class="rightList">
						<p>Quantity</p>
						<p class="rightListPrice">Price</p>
						<p class="rightListTotal">Total</p>
					</div>
					
					
				</div>
				<div class="itemCard">
						<div class="imageDetails">
							<div class="cartImage">
								<a href=""><img src="images/product.jpg"></a>
							</div>
							<div class="cartDetails">
								<p class="productName">Fifa 19</p>
								<a href=""><p class="productCategory">Gaming</p></a>
								<a href=""><p class="remove">Remove</p></a>

							</div>
							
						</div>
						<div class="rightDetails">
							<div class="quantity">
								<a href=""><span class="sub">-</span></a>
								<span class="sub">1</span>
								<a href=""><span class="sub">+</span></a>
							</div>
							<div class="price">
								<p>10</p>
							</div>
							<div class="total">
								<p>109</p>
							</div>
							
						</div>
					</div>
					<div class="itemCard">
						<div class="imageDetails">
							<div class="cartImage">
								<a href=""><img src="images/product.jpg"></a>
							</div>
							<div class="cartDetails">
								<p class="productName">Fifa 19</p>
								<a href=""><p class="productCategory">Gaming</p></a>
								<a href=""><p class="remove">Remove</p></a>

							</div>
							
						</div>
						<div class="rightDetails">
							<div class="quantity">
								<a href=""><span class="sub">-</span></a>
								<span class="sub">1</span>
								<a href=""><span class="sub">+</span></a>
							</div>
							<div class="price">
								<p>10</p>
							</div>
							<div class="total">
								<p>109</p>
							</div>
							
						</div>
					</div>
					<div class="itemCard">
						<div class="imageDetails">
							<div class="cartImage">
								<a href=""><img src="images/product.jpg"></a>
							</div>
							<div class="cartDetails">
								<p class="productName">Fifa 19</p>
								<a href=""><p class="productCategory">Gaming</p></a>
								<a href=""><p class="remove">Remove</p></a>

							</div>
							
						</div>
						<div class="rightDetails">
							<div class="quantity">
								<a href=""><span class="sub">-</span></a>
								<span class="sub">1</span>
								<a href=""><span class="sub">+</span></a>
							</div>
							<div class="price">
								<p>10</p>
							</div>
							<div class="total">
								<p>109</p>
							</div>
							
						</div>
					</div>
				
			</div>
			<div class="summary">
				<div class="heading">
					<p>Order Summary</p>
				</div>
				<div class="line2"></div>

				<div class="major">
					<div class="summaryDetails">
						<p class="itn">Items 3</p>
						<p class="itp">$459</p>
					</div>
					<div class="shipping">
						<p>Shipping</p>
						<select>
							<option>Stardand Delivery $10</option>
							<option>Fast Delivery $15</option>
							<option>Instant Delivery $25</option>
						</select>
					</div>
					<div class="promo">
						<label>Coupon Code</label>
						<form>
							<input type="text" name="promocode" placeholder="Enter your Code">
							<button type="submit" class="applyPromo">APPLY</button>
						</form>
					</div>
					<div class="line2"></div>
					<div class="totals">
						<div class="totalCost">
							<p class="itn itn2">TOTAL</p>
							<p class="itp">$343</p>
						</div>
						<div class="checkout">
							<button class="checkoutBtn">CHECKOUT</button>
						</div>
					</div>
				</div>

					
				
			</div>
	</section>
</body>
</html>