<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/cart.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <title>Cart</title>
</head>

<body>
  <%- include('partials/navbar.ejs') %>

  <section class="main">
    <div class="mainSection">
      <div class="heading">
        <p> Shopping Cart</p>
      </div>
      <div class="line"></div>
      <div class="cartHeading">
        <div class="ProductDetails">
          <p>Product details</p>
        </div>
        <div class="rightList">
          <p>Quantity</p>
          <p class="rightListPrice">Price</p>
          <p class="rightListTotal">Total</p>
        </div>


      </div>

	  <%for(var i=0;i<infoq.length;i++){%>

		<%-
			include('partials/cart_item.ejs',{
			img:infoq[i].image_url,
			name:infoq[i].name,
			price:infoq[i].price,
			total:infoq[i].price*stats_master[i].count,
			cat:infoq[i].primary,
			id:infoq[i].id,
			num:stats_master[i].count
			})%>

	  <%}%>

    </div>
    <%- include('partials/checkout.ejs',{infoq })%>

  </section>
</body>

</html>	
