<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/cart.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <title>Cart</title>
</head>

<body>
  <%- include('partials/navbar.ejs') %>

  <section class="main">
    <div class="mainSection">
      <div class="heading">
        <p> Shopping Cart</p>
      </div>
      <div class="line"></div>
      <div class="cartHeading">
        <div class="ProductDetails">
          <p>Product details</p>
        </div>
        <div class="rightList">
          <p>Quantity</p>
          <p class="rightListPrice">Price</p>
          <p class="rightListTotal">Total</p>
        </div>


      </div>

	  <%for(var i=0;i<info.length;i++){%>
      

		<%-
			include('partials/cart_item.ejs',{
            id: info[i],
            img:info[i].result.item.image_url,
            name: info[i].result.item.name,
            count:info[i].count,
            price: info[i].result.item.price,
            total_amount:info[i].result.item.price*info[i].count,
            currency: info[i]
			
			})%>

	  <%}%>

    </div>
    <%- include('partials/checkout.ejs',{total })%>

  </section>
</body>

<script src="js/cart.js"></script>

</html>	
