@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar{
    height: 5vh;
    width: 100vw;
    padding: 1vh 0px 0px 4vw;
    font-family: cursive;
}
.navbar span{
    color: crimson;
}
.parent{
    height: 95vh;
    width: 100vw; 
    padding: 0px 1.9vw;
    display: flex;
    flex-direction: row;
}
.leftChild{
    height: 100%;
    width: 15vw;
    box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.3);
    padding-top: 7vh;
    padding-left: 1vw;
    border-radius: 1vh 1vh 0px 0px;
 
}
.leftChild ul{
    list-style: none;
}
.leftChild ul li{
    display: flex;
    flex-direction: row;
    margin-left:0vw;
    border-radius: 2vh;
    transition: background 1s ease;
    padding-left: 1vw;
  
}
.leftChild ul li:hover{
    background-color: rgba(220, 20, 60,0.5);
    
}
.leftChild ul a{
    text-decoration: none;
    line-height: 7vh;
    text-align: center;
}
.leftChild img{
    margin-left:0vh;
}
.leftChild span{
    font-weight: 550;
    color:black;
    padding-left: 2vh;
    padding-right: .5vw;

    width: 200px;
}
.right{
    margin-right: 100px;
}
.logout{
    height: 6vh;
    width: 8vw;
    margin-top: 23vh;
    border-radius: 1vh;
    background-color: crimson;
    border: none;
    font-family: cursive;
    color: wheat;
}
.logout span{
    padding-right: 1vw;
    padding-bottom: 3vw;
    /* display: none; */
}
.loutl:hover{
    background-color: white;
}

.rightChild{
    width: 85vw;
    height: 100%;
    background-color: rgba(242,237,243,255);
    padding: 1vh 2vw 0px 2vw;
}
.weekly{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    gap:2vw;
    padding-top: 1vh;
    padding-left: 3.3vh;
}
.wsales,.worders,.wonline{
    width: 17vw;
    height: 25vh;
    padding: 4vh;
    border-radius: 1vh  ;
    box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.3);
   
}
.wsales{
    background: linear-gradient(to right,#4e54c8,#8f94fb);
}
.worders{
    background: linear-gradient(to right,#11998e,#38ef7d);
}
.wonline{
    background: linear-gradient(to right,#D3CCE3,#E9E4F0);
}
.titleIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: vh;
    font-weight: 900;
    font-size: 1rem;
    color: whitesmoke;
    font-family: cursive;
}
.titleIcon img{
    height: 4vh;
    margin-left: 1vw;
    color: #11998e;

}
.value{
    font-weight: 600;
    font-size: 1.2rem;
    color: whitesmoke;
    font-family: cursive;padding-top: 5vh;
}
.v1{
    padding-top: 5.1vh;
}
.incdec{
    font-family: "satisfy";
    color: whitesmoke;
}



.graphs{
    height:36vh;
    width: 40%;
    margin-top: 2vh;
    padding-left: 3.3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    /* background-color: red; */
   
    
}
#canvas,#canvass,#canvasss{
    height: 60vh;
    width :35vw;
    /* background:blue; */
    border-radius: 2vh;
}
.gy{
    height:51vh;
    width: 40%;
    margin-top: -50vh;
    margin-left: 45vw;
    border-radius: 2vh;
}
.graphy{
    
}
.graph2{
    background:white;
    
}