@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;}
body{overflow-x: hidden;}

.main{
	/* margin-top:10vh ; */
	padding: 3vh 10vw 5vh 10vw;
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: row;
	gap :2vw;
	position: relative;
	top: 10vh;
}
.left{
	box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.1);
	width: 17vw;
	height: 68vh;
	padding-top: 1vh;
	border-radius: 1vh;
}

.leftTitle{
	display: flex;
	flex-direction: row;
	height: 5vh;
	gap: 1vw;
	align-items: center;
	font-family: cursive;
	padding-left:1vw ;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}
.leftTitle img{
	height: 3.5vh;

}

.iconList{height: 30vh; border-bottom: solid 1px rgba(0, 0, 0, 0.2);}

.iconList ul,.iconLess ul{list-style: none;}
.iconList ul li{
	padding-left: 1vw;
	display: flex;
	flex-direction: row;
	gap:  1vw;
	align-items: center;
	transition: background .5s ease;
}
.iconList ul li:hover,.iconLess ul li:hover{background: rgba(0, 0, 0, 0.2);}
.iconList ul li p,.iconLess ul li p{
	color: #000;
	font-family: satisfy;
}
.iconImg{height: 3.5vh;}
.iconList ul a,.iconLess ul a{
	text-decoration: none;
	line-height: 6vh;

}

.iconLess{
	height: 24vh; border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.iconLess ul li{
	padding-left: 1vw;
	align-items: center;
	transition: background .5s ease;


}

.logout{
	height: 10vh;
	width: 10vw;
	margin-left: 2.6vw;
}
.logout button{
	font-family: cursive;
	height:  5vh;
	border:none;
	width: 10vw;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 2vh;
	background: none;
	text-align: center;
	color: rgb(220,20,60);
}


.right{
	width: 60vw;
	height: 80vh;
	border-radius: 2vh;
	box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.1);
}
.rightTitle{
	display: flex;
	padding: 3vh 1vw 4vh 1vw;
	justify-content: space-between;
	flex-direction: row;
	font-family: cursive;
	height: 5vh;
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
	font-size: 1.1rem;
	align-items: center;
}
.rightTitle button{
	background: none;
	padding:.4vh;
	border: none;
	border-radius: 1vh;
	box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.1);
	font-family: cursive;
	margin-top: .6vh ;
}




.addressCard{
	height: auto;
	width: 60vw;
	border-radius: 4vh;
	padding: 2vh 1vw 4vh 1vw;
	display: inline-flex;
	min-width: 0;
	overflow: auto;
}
.cls{
	height: auto;

	width: 30vw;
	padding-right: 4vw;
}
.upp{
	padding: 1.5vh;
	background:  rgba(0, 0, 0, 0.1);border-radius: 1vh 1vh 0vh 0vh;

}
.upp p{
	line-height: 2.5vh;

}
.upp .name{
	font-weight: 600;
	font-family: cursive;
}
.upp .location{
	color: rgba(0, 0, 0, 0.6);
	font-family: satisfy;

}
.upp .default{
	color: rgb(220,20,60);
	font-family: cursive;

}

.low{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-top: none;
	border-radius: 0vh 0vh 1vh 1vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding:  1vh ;
	font-weight: 800;
	color:  rgba(0, 0, 0, 0.3)

}