<link rel="stylesheet" type="text/css" href="css/userAccount.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<div class="right">
    <div class="rightTitle">
        <p>Address (3)</p>
        <button>ADD NEW ADDRESS</button>
    </div>
    <div class="addressCard">
        <div class="cls">
                <div class="upp">
                <p>
                    <span class="name">Martin Karani</span> <br><br>
                    <span class="location">
                        Nairobi <br>
                    Westlands <br>
                    G4S Westlands <br><br>
                    +254 729060186 <br><br>
                    </span>
                    
                    <span class="default">
                        Default Address
                    </span>
                    
                </p>
                
            </div>
            <div class="low">
                <p>SET AS DEFAULT</p>
                <a href=""><img src="images/icons/filter.svg"></a>
            </div>
        </div>
        <div class="cls">
                <div class="upp">
                <p>
                    <span class="name">Martin Karani</span> <br><br>
                    <span class="location">
                        Nairobi <br>
                    Westlands <br>
                    G4S Westlands <br><br>
                    +254 729060186 <br><br>
                    </span>
                    
                    <span class="default">
                        Default Address
                    </span>
                    
                </p>
                
            </div>
            <div class="low">
                <p>SET AS DEFAULT</p>
                <a href=""><img src="images/icons/filter.svg"></a>
            </div>
        </div>

        
    </div>
    
</div>