<link rel="stylesheet" type="text/css" href="css/orders.css">
<!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
<div class="right">
    <div class="rightTitle">
        <p>Orders</p>
    </div>
    <div class="rightsubTitle">
        <p>Open Orders</p>
        <p>Closed Orders</p>
    </div>
    <div class="itemcard">
        <div class="image">
            <img src="images/hero2.jpg" alt="">
        </div>
        <div class="content">
            <p>Order name</p>
            <p>Order Number</p>
            <p>Status</p>
            <p>Date</p>
        </div>
        <div class="seedetails">
            <p><a href="">See details</a></p>
        </div>

    </div>
</div>