
<link rel="stylesheet" type="text/css" href="css/userAccount.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<div class="left">
    <div class="leftTitle">
        <img src="images/icons/person.svg">
        <p>My Coza Account </p>
    </div>
    <div class="iconList">
        <ul>
            <a href="">
                <li>
                    <img class="iconImg" src="images/icons/cart.svg">
                    <p>Orders</p>
                </li>
            </a>
            <a href="">
                <li>
                    <img class="iconImg" src="images/icons/filter.svg">
                    <p>Inbox</p>
                </li>
            </a>
            <a href="">
                <li>
                    <img class="iconImg" src="images/icons/person.svg">
                    <p>Pending review</p>
                </li>
            </a>
            <a href="">
                <li>
                    <img class="iconImg" src="images/icons/heart.svg">
                    <p>Vouchers</p>
                </li>
            </a>
            <a href="">
                <li>
                    <img class="iconImg" src="images/icons/search.svg">
                    <p>Saved Items</p>
                </li>
            </a>
            
        </ul>
    </div>
    <div class="iconLess">
        <ul>
            <a href=""><li><p>Account Management</p></li></a>
            <a href=""><li><p>Adress Book</p></li></a>
            <a href=""><li><p>News Letter</p></li></a>
            <a href=""><li><p>Delete Account</p></li></a>
        </ul>
    </div>
    <div class="logout">
        <a href=""><button>Logout</button></a>
    </div>
    
</div>