.overview{
	width: 100vw;
	height: 25vh;
}
.overviewContainer,.overviewSub,.overviewLinks ul,.filterContainer{
	display: flex;
	flex-direction: row;
}

.overviewContainer{
	font-family: satisfy;
	padding-top: 3vh	;
	padding-left:  10vw;
	flex-direction: column;
}

.overviewTitle{
	font-weight: 900;
	font-family: cursive;
}


.overviewSub{
	justify-content: space-between;
	gap: ;
	padding-right: 15vw;
	
}
.overviewLinks ul {
	margin-top: 2vh;
	margin-left: -2vw;

}
.overviewLinks ul li{
	margin-left: 2vw;

}
.overviewLinks button{
	background: none;
	padding-bottom: 0.5vh;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	width: 5vw;
	cursor: pointer;
	border-color: crimson;
	transition: border 1s ease-in-out;
	font-family: satisfy;


}
.overviewLinks button:hover{
	border-bottom: 100px;

}
.overviewLinks ul a{
	font-family: satisfy;
	text-decoration: none;
	color: #fff;

}
.overviewLinks ul a li{
	font-family: satisfy;
	list-style: none;

}

.filterContainer button{
	font-family: satisfy;
	margin-left: 20vw;
	border: solid 2px crimson;
	padding-top: 1vh;
	height: 6vh;
	text-align: center;
	width:  5vw;
	align-items: center;
	margin-left: 2vw;
	border-radius: 5px;
	background: none;
	cursor: pointer;
}
.filterContainer button img{
	height: 2vh	;

}
